body {
    background-color: #fde3a7;
    font-family: "serif";
    color: #141414;
}

.jumbotron h1{
    color: black;
    margin-top: 20px;
    opacity: .75;
    background-color: #FF851B;
    margin-bottom: 20px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
}


h3 {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnDevour {
    background: #FF851B;
    color: black;
    padding: 5px;
    border: 1px solid #FF851B;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.btnCreate {
    display: block;
    margin: 0 auto;
    background: #FF851B;
    color: black;
    padding: 5px;
    border: 1px solid #FF851B;
    border-radius: 5px;
    margin-bottom: 10px;
}


#main { 
    width: 800px;
    margin: 0 auto;
}
#sidebar    {
    width: 400px;
    height: 400px;
    background: red;
    float: left;
}

#page-wrap  {
    width: 400px;
    height: 400px;
    background: #ffffff;
    float: right;
}

#enter_text {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    width: 500px;
    position: relative;
    left: 340px;
}
#text-enter-button:focus {
    background-color: lightblue;
}


#enter_burger {
    text-align: center;
    color: black;
    margin-top: 20px;
    opacity: .75;
    margin-bottom: 20px;
}




